# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# tools
node_modules
coverage
.doc
doc.zip
.idea
.vscode
.node
.history
.DS_Store
yarn.lock
package-lock.json

# library assets
dist
lib
es
icons

esm
lib
